body {
	margin: 0;
	padding: 0;
	font-size: 18px;
	color: var(--tg-theme-text-color);
	background: var(--tg-theme-bg-color);
}

.container {
	max-width: 390px;
}

.inner {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 200px 200px 300px;
}

.img {
	width: 130px;
}

.item {
	text-align: center;
}

.btn {
	display: inline-block;
	padding: 10px 20px;
	border: none;
	background: #63e5e1;
	border-radius: 10px;
	color: #fff;
	text-transform: uppercase;
	font-weight: 700;
	transition: background .2s linear;
}

.btn2 {
	display: inline-block;
	padding: 10px 20px;
	border: none;
	background: #63e5e1;
	border-radius: 10px;
	color: #fff;
	text-transform: uppercase;
	font-weight: 700;
	transition: background .2s linear;
}

.btn:hover {
	background: lightgreen;
}

.btn2:hover {
	background: lightgreen;
}

.usercard {
	text-align: center;
}

.Ð° {
    margin-top: 40px;
    margin-bottom: -5px;
}

.b {
    margin-top: 77px;
    margin-bottom: -4px;
}

.s {
    margin-top: 5px;
    margin-bottom: -4px;
}

.font {
	font-family: Google Sans,-apple-system,BlinkMacSystemFont,sans-serif;
	font-size: 20px;
}

.ps {
    margin-top: 30px;
    margin-bottom: -4px;
}